		</title>
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/d3.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<!--script type="text/javascript" src="javascripts/d3.v4.js"></script-->
	<script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/heatmap.js"></script>
    <script src="javascripts/leaflet-heatmap.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="stylesheets/mycss.css" />
</head>
<body>
	<div class="col-xs-12 col-sm-12" style="height:728px;">
		<div id="title" class="row" style="height:98px; padding: 15px;">
			<h3>Top</h3>
		</div>
		<div class="row" style="height:630px;">
			<div id="navigator" class="col-xs-1 col-sm-1" style="height:630px; left: 15px;">
				<ul class="nav nav-pills nav-stacked">