<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/d3.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=NK09qFifchzW6hev1wLXd9cfaklxWhqf">
		</script>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="stylesheets/mycss.css" />
</head>
<body>
	<div id="allmap">
	</div>
	<script src="javascripts/myjs.js"></script>
</body>