<%- include header %>
	<li><a href="/login">外围</a></li>
	<li class="active"><a href="/page2">监控</a></li>
	<li><a href="#">全局</a></li>
	<li><a href="#">统计</a></li>
<%- include left %>

<div class="col-xs-4 col-sm-4" style="height:590px;">
	<div class="row" style="height:195px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:175px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:190px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
</div>
<div class="col-xs-4 col-sm-4" style="height:590px; margin-left: -20px;">
	<div class="row" style="height:195px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:175px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:190px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
</div>
<div class="col-xs-4 col-sm-4" style="height:590px; margin-left: -20px;">
	<div class="row" style="height:195px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:175px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
	<div class="row" style="height:190px; margin-top: 15px;">
		<div class="piece col-xs-11 col-sm-11 col-md-offset-1"></div>
	</div>
</div>

<%- include footer %>
<script src="javascripts/myjs.js"></script>
<%- include after %>
