body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: "微软雅黑";
}

* {
	box-sizing: border-box;
}

li {
	margin: 80px 0px;
	font-size: 18px;
}

table {
	font-size: 16px;
}

tr {
	color: black;
	line-height: 1.8em;
	margin: 4px;
}

th {
	color: black;
	padding: 6px;
	background-color: #888888;
}

td {
	color: white;
	padding: 6px;
	background-color: #222222;
}

.piece {
	height: 100%;
	padding: auto;
	background-color: #444444;
}

.smallbtn {
	width: 20px;
	height: 20px;
	padding: 0px 4px 4px 4px;
}

#title {
	
}

#navigator {
	border: 1px solid black;
	padding: 20px 0px;
}

#container {
	margin: 0px;
	padding: 0px;
}